* {
  margin: 0;
  padding: 0;
}

body {
  background: #E0E6EE;
  color: $blue;
  font-family: 'Barlow', sans-serif;
  font-weight: $font-normal;
}

#app {
  max-width: 790px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 30px;  
  text-align: center;

  @include mobile-sm {
    padding: 10px;
  }
}

footer {
  font-size: $font-sm;
  padding: 20px; 
  color: $dark;
}

h3 {
  color: $dark-blue;
}
