.loader-large {
  height: 480px;
  padding: 215px 0;
  
  .loader-icon-large-svg {
    width: 50px;
    height: auto;
  }
}

.loader-small {
  height: 100px;
  padding: 50%;

  .loader-icon-small-svg {
    width: 24px;
    height: auto;
  }
}

.loader-icon-svg {
  animation: spin 1s linear infinite;
  
  @keyframes spin {
    100% {
      transform: rotate(360deg)
    }
  } 
}
