.table-mobile {
  width: 100%;
  border-collapse: collapse;
  div.table-mobile-planet-row {      
    table.planet-table {
      margin: 20px 10px;
      width: 100%;
      border-collapse: collapse;
      tr.planet-table-row {
        
        width: 100%;
        height: 30px;
        td.planet-column {
          width: 50%;
          text-align: left;
          padding: 0;
        }          
      }  
    }
  }

  div.table-mobile-planet-row:nth-child(2) {
    background: rgba(229, 229, 229, 0.5);
  } 

}

#planet-name {
  color: $blue;
}