//colors
$blue: #1BA1BE;
$light-blue: #E0E6EE;
$dark-blue: #00687F;
$white: #fff;
$gray: #E0E6EE;
$dark: #474747;

//fonts
$font-lg: 16px;
$font-sm: 12px;

//font-weights:
$font-normal: 400;
$font-bold: 700;

//spacings (margins and paddings):
$spacing-sm: 16px;
$spacing-lg: 32px;
